# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# macOS folder metadata
.AppleDouble
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk




# Editor-specific files
.vscode/
*.swp
*.swo

# Dependency directories (adjust as needed)
__pycache__/
node_modules/



.pytest_cache

*.csv

# PyCharm files
.idea/

# Environments
env

# Visualisations
src/data_visualisation/figures